<nav>
  <ul>
    <li><a href="https://stirred.angelacummings.com/">Stirred not Shaken</a></li>
    <li{% if page.collection=="poems" or page.url=="/poems" %} class="selected"{% endif %}>
    {%- if page.url=="/poems" %}
      <span>Poems</span>
    {%- else %}
      <a href="/poems">Poems</a>
    </li>
    {%- endif %}
    <li{% if page.collection=="stories" or page.url=="/stories" %} class="selected"{% endif %}>
    {%- if page.url=="/stories" %}
      <span>Stories</span>
    {%- else %}
      <a href="/stories">Stories</a>
    </li>
    {%- endif %}
    <li{% if page.collection=="musings" or page.url=="/musings" %} class="selected"{% endif %}>
    {%- if page.url=="/musings" %}
      <span>Musings</span>
    {%- else %}
      <a href="/musings">Musings</a>
    </li>
    {%- endif %}
    {%- if page.url=="/about" %}
    <li class="selected"><span>About</span></li>
    {%- else %}
    <li><a href="/about">About</a></li>
    {%- endif %}
  </ul>
</nav>
