@font-face {
    font-family: 'PlusJakarta';
    src:  url('/assets/fonts/PlusJakartaSans-Medium.woff2') format('woff2'),
         url('/assets/fonts/PlusJakartaSans-Medium.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'PlusJakarta';
    src:  url('/assets/fonts/plusjakartasans-light.woff2') format('woff2'),
         url('/assets/fonts/plusjakartasans-light.woff') format('woff');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'PlusJakarta';
    src:  url('/assets/fonts/PlusJakartaSans-Bold.woff2') format('woff2'),
         url('/assets/fonts/PlusJakartaSans-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Libre Baskerville';
    src:  url('/assets/fonts/librebaskerville-regular.woff2') format('woff2'),
         url('/assets/fonts/librebaskerville-regular.woff') format('woff'),
         url('/assets/fonts/librebaskerville-regular.eot') format('eot');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Libre Baskerville';
    src:  url('/assets/fonts/librebaskerville-italic.woff2') format('woff2'),
         url('/assets/fonts/librebaskerville-italic.woff') format('woff'),
         url('/assets/fonts/librebaskerville-italic.eot') format('eot');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Libre Baskerville';
    src:  url('/assets/fonts/librebaskerville-bold.woff2') format('woff2'),
         url('/assets/fonts/librebaskerville-bold.woff') format('woff'),
         url('/assets/fonts/librebaskerville-bold.eot') format('eot');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

:root {
  /* Theme colors */
  --Black: #000000;
  --LightMaple: #9D894D;
  --LightMapleRGB: 157, 137, 77;
  --Molasses: #524728;
  --MolassesRGB: 82, 71, 40;
  --Parchment: #f2ead8;
  --ParchmentRGB: 242, 234, 216;
  --DarkParchment: #ded6c1;
  --Hemlock: #4A6E5C;
  --Brick: #8e4122;

  /* Typography */
  --font-family-serif: "Libre Baskerville", Garamond, Georgia, serif;
  --font-family-sans: "PlusJakarta", "Myriad", "Helvetica Neue", sans-serif;
  /* --font-family-headings: "Bodoni-11", Bodoni-11, "Bodoni MT", Bodoni, serif; */
  --font-family-headings: "Libre Baskerville", "Myriad", "Helvetica Neue", sans-serif;
  --sans-ratio: .98;
  --headings-ratio: 1;
  --font-family-mono: "Source Code Pro", monospace;
  --mono-ratio: 1.1;
  --size-s: 14px;
  --size-m: 16px;
  --size-l: 18px;
  --size-xl: 20px;
  --size-xxl: 26px;
  --leading: 1.6;
  --leading-tight: 1.45;
  --leading-sans: 1.35;
  --weight-regular: 400;
  --weight-semibold: 700;
  --font-weight-bold: 700;

  /* Layout */
  --width-body: 550px;
  --width-sidebar: 180px;
  --margin: 1.3125rem;
  --gutter: calc(1rem + ((1vw - 3.75px) * 5));
  --border-radius: 4px; /* from MS Fluent UI for small items  */
  --border-radius-large: 8px; /* from MS Fluent UI for large items  */
  --box-shadow-4: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108); /* from ms-depth-4 */
  --box-shadow-8: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108); ; /* from ms-depth-8 */
  --border: 1px solid var(--Hemlock);
  --float-width: 40%;
  --transition: 0.467s cubic-bezier(0.1,0.9,0.2,1);
}

@media (min-width: 376px) {
  :root {
    --margin: calc(1.3125rem + ((1vw - 3.75px) * 6.969)); /* calculated to be dynamic and scale to max  */
  }
}

@media (min-width: 576px) {
  :root {
    --leading: 1.6;
    --leading-tight: 1.5;
    --size-s: 13px;
    --size-m: 16px;
    --size-l: 20px;
    --size-xl: 26px;
    --size-xxl: 32px;
  }
}

/* CSS Variables responsive adjustments */

@media (min-width: 768px) {
  :root {
    --gutter: 2rem;
  }
}
@media (min-width: 992px) {
  :root {
    --margin: 4rem;
  }
}
@media (min-width: 1200px) {
  :root {

  }
}

/* Font family, size and weight definitions */

body {
  font-family: var(--font-family-serif);
}

/* Temporary TK */
#about-column {
  visibility: hidden;
}

.sans,
header,
footer,
table,
nav,
h2,
.subtitle,
h3,
h4,
#about-column {
  font-family: var(--font-family-sans);
  font-size: calc( var(--sans-ratio) * 1em );
  line-height: var(--leading-sans);
}

table {
  font-size: calc(var(--sans-ratio) * 1em);
}

/* Document layout */

html {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
  background-color: var(--DarkParchment);
}

body {
  line-height: var(--leading);
  color: var(--Black);
  font-size: var(--size-m);
  max-width: 100%;
  width: fit-content;
  margin: 0 auto;
}

body > header, body > footer {
  position: relative;
  margin: var(--gutter) auto;
}

@media (min-width: 576px) {
  body > header {
    margin-top: var(--gutter);
    border-radius: var(--border-radius);
  }
}

body > header h1 {
  text-align: left;
  padding-left: var(--margin);
  font-family: var(--font-family-sans);
  font-size: calc( 1.3 * var(--size-xl));
  margin: 0;
  font-weight: 300;
}

body > header h1 {
  a {
  color: var(--Black);
  }
  a:hover, a:active, a:focus {
    color: var(--Black);
  }
}

@media (min-width: 576px) {
  body > header h1 {
    text-align: center;
    padding-left: 0;
  }
}

div.page nav { display: block;}

@media (max-width: 991px) {
  div.page {
    max-width: var(--width-body);
    background-color: var(--Parchment);
    padding: var(--margin);
    padding-bottom: calc( 2 * var(--margin) );
    box-shadow: var(--box-shadow-8);
    border-radius: var(--border-radius-large);
  }
  /* Hide desktop-only elements*/
  #sidenote-column, div.page nav, #about-column {
    display: none;
  }
}

div.page > nav, #about-column {
  padding-top: var(--margin);
  line-height: var(--leading-sans);
}

main {
  min-height: calc(100vh - 140px);
  padding: var(--margin) 0;
}

/* To ensure footnote markers get highlighted correcty */
main, main blockquote, main div, main aside {
  position: relative;
  z-index: 1;
}

#dummy {
  width: 200em; /* to stretch out to maximum when content not full */
}

#sidenote-column {
  font-size: var(--size-s);
  line-height: var(--leading-tight);
  height: 100%;
}

@media (min-width: 992px) {
  body > header {
    width: calc(var(--width-body) + 2*var(--margin) + var(--width-sidebar) + var(--gutter) + 2rem);
  }
  div.page {
    display: grid;
    max-width: initial;
    grid-template-columns: auto auto;
    grid-gap: var(--gutter);
  }
  div.page > * {
    grid-column: 2;
  }
  main {
    grid-row: 1 / 3;
    position: relative;
    z-index: 1;
    min-height: 0;
    background-color: var(--Parchment);
    width: var(--width-body);
    padding: var(--margin);
    padding-bottom: calc( 2 * var(--margin) );
    box-shadow: var(--box-shadow-8);
    border-radius: var(--border-radius-large);
  }
  div.page nav, div.page > #sidenote-column, #about-column {
    display: block;
    position: relative;
    grid-column: 1;
    width: var(--width-sidebar);
  }
  div.page nav, #about-column {
    height: fit-content;
  }
  div.page nav {
    width: calc( var(--width-sidebar) + 2em );
  }
  #about-column {
    padding: 1rem;
    border-radius: var(--border-radius);
    background-color: var(--Parchment);
    box-shadow: var(--box-shadow-4);
  }
}

@media (min-width: 1200px) {
  body > header {
    width: calc(var(--width-body) + 2*var(--margin) );
  }
  div.page {
    grid-template-columns: auto auto auto;
  }
  div.page > nav {
    grid-column: 1;
    grid-row: 1 / 3;
  }
  div.page > main {
    grid-column: 2;
    grid-row: 1 / 3;
  }
  div.page > #sidenote-column, #about-column {
    grid-column: 3;
  }
  div.page > #sidenote-column {
    width: calc( var(--width-sidebar) + 2rem );
  }
}

/* Title page */

div.page.wide {
  background-color: var(--Parchment);
  padding: 0 var(--margin);
  box-shadow: var(--box-shadow-8);
  border-radius: var(--border-radius-large);
}

div.page.wide main {
  box-shadow: none;
}

div.page.title {
  background-image: url("/img/Angela_Cummings.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: 80% 60%;
}

div.page.title nav li {
  /* background-color: rgba(var(--MolassesRGB), 0.7); */
  position: relative;
  background: inherit;
  overflow: hidden;
  z-index: 1;
}

div.page.title nav li.selected {
  background-color: rgba(var(--LightMapleRGB), 0.7);
}

div.page.title div.content {
  /* background-color: rgba(var(--ParchmentRGB), 0.1); */
  /* backdrop-filter: blur(20px) saturate(125%); */
  box-shadow: var(--box-shadow-4);
  position: relative;
  padding: 1rem;
  border-radius: var(--border-radius);
  background: inherit;
  overflow: hidden;
}

div.page.title main, div.page.title nav, div.page.title nav ul {
  background: inherit;
}

div.content::after, div.content::before, div.page.title nav li::after, div.page.title nav li::before {
  content: '';
  position: absolute;
  top: -30px;
  left: -30px;
  right: -30px;
  bottom: -30px;
}
div.content::before, div.page.title nav li::before {
  filter: blur(15px) saturate(125%);
  background: inherit;
  z-index: -2;
}
div.content::after {
  background-color: rgba(var(--ParchmentRGB), 0.6);
  z-index: -1;
}

div.page.title nav li::after {
  background-color: rgba(var(--MolassesRGB), 0.6);
  z-index: -1;
}
div.page.title nav li.selected::after {
  background-color: rgba(var(--LightMapleRGB), 0.6);
}

@media (min-width: 992px) {
  div.page.title main {
    height: calc(100vh - 400px);
  }
  div.content {
    padding: 2rem;
    margin-right: 0;
    top: 0;
  }
}


h1, h2, .subtitle, h3, h4, h5, h6 {
  margin: 0;
}

h1, h3, .subtitle {
  font-weight: 700;
}

h2 {
  font-family: var(--font-family-headings);
  font-weight: 700;
  line-height: var(--leading-sans);  /* Intentionally also for article H1 which is in serif */
}

.subtitle {
  line-height: var(--leading-sans);
}

h1 {
  font-family: var(--font-family-headings);
  line-height: var(--leading-sans);
  color: var(--Molasses);
  font-size: calc(var(--headings-ratio) * var(--size-xxl));
  font-weight: 700;
  margin-bottom: 1em;
  text-align: center;
}

.page.wide h1 {
  font-family: var(--font-family-sans);
  line-height: var(--leading-sans);
  font-size: calc(var(--sans-ratio) * var(--size-xxl));
  font-weight: 400;
}

p + h1 {
  margin-top: 1.3125em;
}
@media (min-width: 992px) {
  p + h1 {
    margin-top: 2em;
  }
}

.subtitle {
  color: var(--Molasses);
  font-size: calc(var(--sans-ratio) * var(--size-l));
  text-align: center;
  margin-top: -1.2em;
  margin-bottom: 1.66em;
}

.subtitle + figure, h1 + figure {
  margin-top: -1em;
}

h2 {
  color: var(--Molasses);
  font-size: calc(var(--headings-ratio) * var(--size-xl));
  margin:  2em 0 .5rem 0;
}

h2 + h3 {
  margin-top: 0;
}

h3, h4, h5, h6 {
  margin-top: calc(1rem * var(--leading));
  margin-bottom: .2rem;
}

@media (min-width: 576px) {
  h3, h4, h5, h6 {
    margin-bottom: .3em;
  }
}

h3 {
  color: var(--Molasses);
  font-size: calc(var(--sans-ratio) * var(--size-m));
}

h4 {
  font-size: calc(var(--sans-ratio) * var(--size-m));
  font-weight: 400;
}

h4 {
  text-transform: uppercase;
}

h5, h6 {
  font-size: 1em;
  font-weight: 700;
}

header, footer {
  font-size: calc(var(--sans-ratio) * 1em);
  color: var(--Molasses);
}

footer {
  text-align: center;
    font-size: calc( var(--sans-ratio) * var(--size-s) );
}

/* Typography */

p {
  margin: 0;
}
p + p, p + .float + p, p + .pullquote + p {
  margin-top: calc(.5em * var(--leading));
}

.date {
  text-align: right;
  margin-bottom: 1em;
}

a {
  color: var(--Brick);
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: var(--Molasses);
}
a:focus {

}

a[href*="//"]:not([href*="angelacummings.com"])::after {
  content: "↗\FE0E";
  position: relative;
  font-size: 70%;
  line-height: 0;
  top: -0.5em;
  font-style: normal;
  font-weight: 700;
}

h2 > {
  a {
  color: var(--Molasses);
  }
  a:hover > h2, a:active > h2, a:focus > h2 {
    color: var(--Molasses);
  }
}

blockquote {
  margin-left: 1em;
  margin-right: 0;
  color: var(--Molasses);
  /* font-style: italic; */
}

@media (min-width: 576px) {
  blockquote {
    margin-left: 3em;
  }
}

/* blockquote em {
  font-style: normal;
} */

.box {
  box-shadow: var(--box-shadow-4);
  margin: calc(1em * var(--leading)) 0;
  padding: 1em;
  background-color: var(--DarkParchment);
  border-radius: var(--border-radius);
}

div.box {
  color: var(--Parchment);
  background-color: var(--LightMaple);
}

aside.pullquote {
  display: block;
  font-size: var(--size-l);
  font-style: italic;
  margin: calc(1rem * var(--leading)) 0;
  line-height: var(--leading-tight);
  padding-left: 3rem;
  text-align: right;
  color: var(--LightMaple);
}

/* When div.box follows headline (optionally with a strapline or image), format it as a lede paragraph  */
main.lede > p:first-of-type, main.lede .content > p:first-of-type {
  color: var(--Molasses);
  font-weight: 700;
}

div.page.wide main.lede p:first-of-type {
  color: var(--Black);
  font-weight: normal;
}

div.page.wide:not(.title) main.lede p:first-of-type {
  padding-right: 2em;
}

@media (min-width: 576px) {
  div.page.wide main.lede p:first-of-type {
    font-size: var(--size-l);
  }
}

.box h2, .box h3, .box h4, .box h5 {
  margin-top: 0;
}

::-moz-selection {
  background-color: var(--DarkParchment);
}

::selection {
  background-color: var(--DarkParchment);
}

a {
  transition: color var(--transition);
}

ul, ol {
  padding-left: 1em;
}

/* Figures */

figure {
  margin: calc(1rem * var(--leading)) 0;
  width: 100%;
}

figure > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

figcaption {
  font-family: var(--font-family-sans);
  font-size: calc(var(--sans-ratio) * var(--size-s));
  line-height: var(--leading-sans);
  text-align: center;
}

@media (min-width: 576px) {
  .float, aside.pullquote {
    float: right;
    margin: 1em;
    margin-right: 0;
    width: var(--float-width);
    line-height: var(--leading-tight);
  }
  aside.pullquote {
    padding: 0;
  }
  .edge {
    position: relative;
    left: var(--margin);
    margin-left: calc(-1 * var(--margin) + 1em);
    width: 40%;
    width: calc(var(--float-width) + var(--margin));
  }
  .edge figcaption {
    text-align: right;
    padding-right: var(--margin);
  }
}

article {
  margin: 1rem 1rem 2rem 1rem;
}

article > ul {
  font-family: var(--font-family-sans);
  margin-bottom: calc(1em * var(--leading));
}

pre {
  -ms-overflow-style: scrollbar;
  overflow: auto;
  padding: .5rem;
  border-radius: var(--border-radius);
  background-color: var(--DarkParchment);
}

pre, code, kbd {
  font-family: var(--font-family-mono);
  font-size: calc(var(--mono-ratio) * 1em);
  font-style: normal !important;
  font-weight: 400 !important;
}

code {
  padding: 0 .2em;
}

kbd {
  padding: 0 .25em;
  border: var(--border);
}

pre code {
  padding: 0;
  font-size: 1em;
}

div.footnotes:not(#sidenote-column) {
  margin-top: calc(3rem * var(--leading));
}

div.footnotes:not(#sidenote-column)::before {
  content: "Footnotes";
  display: block;
  font-family: var(--font-family-sans);
  font-weight: bold;
  border-top: 1px solid var(--LightMaple);
  padding-top: 1em;
}

/* Permalink display and positioning */
a.perma {
  position: absolute;
  left: .5rem;
  display: none;
}
@media (min-width: 576px) {
  main > [id] {
    position: relative;
    left: -2rem;
    padding-left: 2rem;
  }
  main > [id]:hover > a.perma {
    display: inline-block;
  }
}

hr {
  margin: 3rem auto;
  width: 61.8%;
  border: none;
  border-bottom: var(--border);
  box-shadow: none;
}

/* Tables */

table {
  margin: calc(1em * var(--leading)) 0;
  border-collapse: collapse;
  border-bottom:  1px solid var(--Hemlock);
}

th,
td {
  padding: .3em .5em;
  vertical-align: top;
}

th {
  background-color: var(--Hemlock);
  font-weight: bold;
  color: var(--Parchment);
  vertical-align: bottom;
}

tr:nth-child(even) {
  background-color: var(--DarkParchment);
}

/* Poetry */

div.poetry {
  width: fit-content;
  margin: calc(1em * var(--leading)) auto;
}

div.stanza {
	list-style-type: none;
  margin-top: calc(1em * var(--leading));
  padding: 0;
  width: fit-content;
}

h2 + div.stanza {
  margin-top: 1em;
}

.stanza .line {
	list-style-type: none;
	margin: 0;
	padding: 0;
  text-indent: -3em;
  padding-left: 3em;
}

@media (min-width: 576px) {
  .poetry .stanza .line {
    font-size: calc( 1.0625 * var(--size-m) );
    line-height: calc( 1.1 * var(--leading) );
  }
}

.stanza .line p {
	margin: 0;
	padding: 0;
}

.indented {
	margin: 0 0 0 -2em;
}

.indented .line {
  text-indent: -2em;
  padding-left: 2em;
}


/* Sidenotes section */

#sidenote-column>* {
  pointer-events: auto;
}

.sidenote {
  position: absolute;
  padding: 0 1rem 1rem 1rem;
  width: var(--width-sidebar);
  border-radius: var(--border-radius);
  background-color: var(--Parchment);
  box-shadow: var(--box-shadow-4);
}

.sidenote p {
  color: var(--neutralPrimary);
}

.sidenote .sidenote-self-link {
  font-weight: 700;
  color: var(--LightMaple);
  margin: .5em 0 0 -.5em;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--transition), background-color var(--transition);
  border-radius: 50%;
}

.sidenote.highlighted .sidenote-self-link {
  background-color: var(--DarkParchment);
  color: var(--Brick);
}

#sidenote-column .reversefootnote {
  display: none;
}

a.footnote.highlighted {
  color: var(--Brick);
}

a.footnote::before {
  content: "";
  display: block;
  background-color: inherit;
  position: absolute;
  left: -.5em;
  top: -.5em;
  width: 1.6em;
  height: 1.6em;
  z-index: -1;
  border-radius: 50%;
  transition: background-color var(--transition);
}

a.footnote.highlighted::before {
  background-color: var(--DarkParchment);
}

.sidenote.highlighted {
  border-color: var(--LightMaple);
}


/* Menu */

#burgerBtn {
  border-top:2px solid var(--Molasses);
  height:21px;
  width:30px;
  box-sizing:border-box;
  position:absolute;
  z-index:30;
  right: var(--margin);
  top: .7em;
  cursor:pointer;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 576px) {
  #burgerBtn {
    right: 3em;
    top: 1em;
  }
}

@media (min-width: 992px) {
  #burgerBtn, body > header nav {
    display: none;
  }
}

#burgerBtn:before {
  content:"";
  display:block;
  position:absolute;
  height:2px;
  width:30px;
  left:0;
  background: var(--Molasses);
  top:7px;
  transition: all 0.3s ease-in-out;
}
#burgerBtn:after {
  content:"";
  display:block;
  position:absolute;
  height:2px;
  width:30px;
  left:0;
  background: var(--Molasses);
  bottom:0;
  transition: all 0.3s ease-in-out;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

nav li {
  font-weight: bold;
  margin: 1.5em 0 1.5em auto;
  white-space: nowrap;
  color: var(--Parchment);
  background-color: var(--Molasses);
  box-shadow: var(--box-shadow-4);
  border-radius: var(--border-radius);
  transition: background-color .52s, opacity .52s, visibility .52s, width .52s, right .52s, margin .52s, padding .52s;
}

nav li.selected, nav li:hover {
  padding-left: 2em;
}
nav li.selected {
  background-color: var(--LightMaple);
}

@media (min-width: 992px) {
  nav li {
    margin: 0 2em 1em 0;
  }
  nav li:hover, nav li.selected {
    margin-right: 0;
    padding-left: 0;
  }
}

nav li a, nav li span {
  display: block;
  padding: .5em 20px;
  color: var(--DarkParchment);
  &:hover, &:active, &:focus {
    color: var(--Parchment);
  }
}

nav li.selected a, nav li.selected span {
  color: var(--Parchment);
}

nav li.selected span {
  cursor: default;
}

nav li.selected a::before {
  content: '\21A9\FE0E\2003'
}

body > header nav {
  position:absolute;
  z-index:10;
  right: 3em;
  list-style-type:none;
  margin: 3em 0 0 0;
  padding:0;
  overflow:hidden;
  li {
    position: relative;
    visibility: hidden;
    opacity: 0;
    text-align: right;
    width:0;
    right: -3rem;
    & + li {
      right:-6em;
      & + li {
        right:-9em;
        & + li {
          right:-12em;
        }
      }
    }
  }
}

body.navigation {
  > header nav li {
    visibility: visible;
    opacity: 1;
    width:10em;
    right:0;
  }
  #burgerBtn {
    border-color:transparent;
    &:before {
      transform: rotate(45deg);
      width:33px;
      left:-2px;
    }
    &:after {
      transform: rotate(135deg);
      bottom:11px;
      width:33px;
      left:-2px;
    }
  }
}

body.navigation-start > header nav li {
  opacity: 0;
}

div.page {
  z-index: 30;
  opacity: 1;
  visibility:visible;
  transition: visibility .52s, opacity .52s, transform .52s;
  animation: .52s slidein;
}

div.page.title {
  animation: .52s centerin;
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: scale(0.85) translatex(20%) translatey(-7.5%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translatey(0) translatex(0%);
  }
}

@keyframes centerin {
  0% {
    opacity: 0;
    transform: scale(0.85) translatey(-7.5%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translatey(0);
  }
}

body.navigation div.page {
  opacity: 0;
  transform: scale(0.85) translatey(-7.5%);
  visibility:hidden;
}

body.navigation-start div.page:not(.title) {
  opacity: 0;
  transform: scale(.85) translatex(-20%) translatey(-7.5%);
}

body.navigation-start div.page.title {
  opacity: 0;
  transform: scale(.85) translatey(-7.5%);
}
