---
layout: default
---

<div class="page {% if page.class %}{{page.class}}{% endif %}">
  {% include navigation.html %}
<main{% if page.lede %} class="lede"{% endif %}>
  <div id="dummy">
  </div>
{% if page.class contains "title" %}
<div class="content">
{% endif %}
{% if page.collection == "poems" %}
  <div class="poetry">
  <h2>{{ page.title | markdownify | striphtml }}</h2>
{% else %}
  {%- if page.title != "" %}
  <h1>{{ page.title | markdownify | striphtml }}</h1>
  {%- endif %}
{% endif %}
{% if page.subtitle %}
  <div class="subtitle">{{ page.subtitle | markdownify | strip_html }}</div>
{% endif %}
{% if page.image %}
  <figure>
    <img src="/img/{{ page.image }}" alt="featured image" />
    {%- if page.caption -%}
      <figcaption>{{ page.caption | markdownify }}</figcaption>
    {%- endif -%}
  </figure>
{% endif %}
{% if page.written %}
  <div class='date'>{{ page.written | date: "%B %d, %Y" }}</div>
{% endif %}
{% include extend-markup.html html=content %}
{% if page.collection == "poems" %}
  </div>
{% endif %}
{% if page.class contains "title" %}
</div>
{% endif %}
</main>
<div id='about-column'>
</div>
{% unless page.class contains "title" %}
<div id='sidenote-column' class='footnotes' style='visibility:hidden'></div>
{% endunless %}
</div>
